.bg-dark {
    background-color:#181818 !important;
    color:white;
}

.title {
    font-family: 'Titillium Web', sans-serif;

    height:100vh;

    display: flex;
    justify-content: center;
    align-items:center;

    position: absolute;
    z-index: 2;
    left:0;right:0;
    top:0;bottom: 0;
}

.title-text {
    margin-bottom: 40px;
}

h1{
    font-size: 3.8em !important;
}

h2{
    font-size: 2em !important;
}

.badge-primary{
    background:#ec407a !important;
}

#btn-main {
    position: absolute;
    bottom:12%;

    font-size: 1.2em;

    width:48px;
    height:48px;
    border:solid 2px #ec407a;
    border-radius:50%;

    /* background:#ec407a1a; */

    animation: pulse 2s ease-in-out infinite alternate-reverse;

    display:flex;
    justify-content: center;
    align-items: center;
}

@keyframes pulse{
    from {box-shadow: #ec40791e 0 0 0 10px}
    to   {box-shadow: #ec40791e 0 0 0 14px}
}

main {
    font-family: 'Titillium Web', sans-serif;
    color:#000000da;

    min-height: 100vh;

    border-left: solid #ec407a 8px;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.row {
    margin:0;
}

.full-height{
    height: 100vh;
}

.search-input{
    background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 12px center;

    border: solid 2px #ec407a;
    border-radius: 24px;

    padding:8px;

    height:48px;
    width:48px;

    outline:none;
    cursor: pointer;

    transition-duration: 300ms;
}

.search-input:focus{
    width:100%;
    padding-left: 48px;
    box-shadow: #ec40794f 0 0 12px 0px;
}

@media screen and (max-width: 540px) {
    .search-input{
        border: solid 2px #ec407a;
        border-radius: 24px;

        padding-left:48px;

        height:48px;
        width:100%;
    }
}

.btn-round{
    height:32px;

    display: flex;
    justify-content: center;
    align-items:center;
    
    border-radius: 24px;

    box-shadow: #007bff46 0 0 12px 0;
}

.text-accent{
    color:#ec407a !important;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.item-close-button{
    position: absolute;
    background: gray;
    width:24px;
    height:24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 12px;
    top:12px;
    color: white;
    cursor: pointer;
    box-shadow: white 0 0 8px 8px;
}

.item-close-button>.fas{
    font-size: 0.8rem;
}